In [209]:
from enum import Enum

In [211]:
class OrderedEnum(Enum):
    def __ge__(self, other):
        if self.__class__ is other.__class__:
            return self.value >= other.value
        return NotImplemented
    def __gt__(self, other):
        if self.__class__ is other.__class__:
            return self.value > other.value
        return NotImplemented
    def __le__(self, other):
        if self.__class__ is other.__class__:
            return self.value <= other.value
        return NotImplemented
    def __lt__(self, other):
        if self.__class__ is other.__class__:
            return self.value < other.value
        return NotImplemented

In [212]:
class Rank(OrderedEnum):
    ace = 1
    two = 2
    three = 3
    four = 4
    five = 5
    six = 6
    seven = 7
    eight = 8
    nine = 9
    ten = 10
    jack = 11
    queen = 12
    king = 13
    
    @property
    def score(self):
        if (self.value <= 10):
            return self.value
        else:
            return 10

In [224]:
Suit = OrderedEnum("Suit", "heart diamond club spade")

In [225]:
class Card(object):
    def __init__(self, rank, suit):
        self.rank = rank
        self.suit = suit
        
    def __str__(self):
        return "{} of {}s".format(self.rank.name.capitalize(), self.suit.name.capitalize())
    
    def __repr__(self):
        return "{} of {}s".format(self.rank.name.capitalize(), self.suit.name.capitalize())
    
    def __value__(self):
        return self.rank.score()

In [226]:
class Deck(object):
    def __init__(self):
        self.cards = []
        for suit in Suit:
            for rank in Rank:
                card = Card(rank, suit)
                self.cards.append(card)

In [227]:
print(Deck().cards)

[Ace of Hearts, Two of Hearts, Three of Hearts, Four of Hearts, Five of Hearts, Six of Hearts, Seven of Hearts, Eight of Hearts, Nine of Hearts, Ten of Hearts, Jack of Hearts, Queen of Hearts, King of Hearts, Ace of Diamonds, Two of Diamonds, Three of Diamonds, Four of Diamonds, Five of Diamonds, Six of Diamonds, Seven of Diamonds, Eight of Diamonds, Nine of Diamonds, Ten of Diamonds, Jack of Diamonds, Queen of Diamonds, King of Diamonds, Ace of Clubs, Two of Clubs, Three of Clubs, Four of Clubs, Five of Clubs, Six of Clubs, Seven of Clubs, Eight of Clubs, Nine of Clubs, Ten of Clubs, Jack of Clubs, Queen of Clubs, King of Clubs, Ace of Spades, Two of Spades, Three of Spades, Four of Spades, Five of Spades, Six of Spades, Seven of Spades, Eight of Spades, Nine of Spades, Ten of Spades, Jack of Spades, Queen of Spades, King of Spades]

In [228]:
import pandas as pd

In [229]:
df = pd.DataFrame({'card': Deck().cards})
df['suit'] = df.card.map(lambda c: c.suit)
df['rank'] = df.card.map(lambda c: c.rank)
df['score'] = df.card.map(lambda c: c.rank.score)
df

                 card          suit        rank  score
0       Ace of Hearts    Suit.heart    Rank.ace      1
1       Two of Hearts    Suit.heart    Rank.two      2
2     Three of Hearts    Suit.heart  Rank.three      3
3      Four of Hearts    Suit.heart   Rank.four      4
4      Five of Hearts    Suit.heart   Rank.five      5
5       Six of Hearts    Suit.heart    Rank.six      6
6     Seven of Hearts    Suit.heart  Rank.seven      7
7     Eight of Hearts    Suit.heart  Rank.eight      8
8      Nine of Hearts    Suit.heart   Rank.nine      9
9       Ten of Hearts    Suit.heart    Rank.ten     10
10     Jack of Hearts    Suit.heart   Rank.jack     10
11    Queen of Hearts    Suit.heart  Rank.queen     10
12     King of Hearts    Suit.heart   Rank.king     10
13    Ace of Diamonds  Suit.diamond    Rank.ace      1
14    Two of Diamonds  Suit.diamond    Rank.two      2
15  Three of Diamonds  Suit.diamond  Rank.three      3
16   Four of Diamonds  Suit.diamond   Rank.four      4
17   Five of Diamonds  Suit.diamond   Rank.five      5
18    Six of Diamonds  Suit.diamond    Rank.six      6
19  Seven of Diamonds  Suit.diamond  Rank.seven      7
20  Eight of Diamonds  Suit.diamond  Rank.eight      8
21   Nine of Diamonds  Suit.diamond   Rank.nine      9
22    Ten of Diamonds  Suit.diamond    Rank.ten     10
23   Jack of Diamonds  Suit.diamond   Rank.jack     10
24  Queen of Diamonds  Suit.diamond  Rank.queen     10
25   King of Diamonds  Suit.diamond   Rank.king     10
26       Ace of Clubs     Suit.club    Rank.ace      1
27       Two of Clubs     Suit.club    Rank.two      2
28     Three of Clubs     Suit.club  Rank.three      3
29      Four of Clubs     Suit.club   Rank.four      4
30      Five of Clubs     Suit.club   Rank.five      5
31       Six of Clubs     Suit.club    Rank.six      6
32     Seven of Clubs     Suit.club  Rank.seven      7
33     Eight of Clubs     Suit.club  Rank.eight      8
34      Nine of Clubs     Suit.club   Rank.nine      9
35       Ten of Clubs     Suit.club    Rank.ten     10
36      Jack of Clubs     Suit.club   Rank.jack     10
37     Queen of Clubs     Suit.club  Rank.queen     10
38      King of Clubs     Suit.club   Rank.king     10
39      Ace of Spades    Suit.spade    Rank.ace      1
40      Two of Spades    Suit.spade    Rank.two      2
41    Three of Spades    Suit.spade  Rank.three      3
42     Four of Spades    Suit.spade   Rank.four      4
43     Five of Spades    Suit.spade   Rank.five      5
44      Six of Spades    Suit.spade    Rank.six      6
45    Seven of Spades    Suit.spade  Rank.seven      7
46    Eight of Spades    Suit.spade  Rank.eight      8
47     Nine of Spades    Suit.spade   Rank.nine      9
48      Ten of Spades    Suit.spade    Rank.ten     10
49     Jack of Spades    Suit.spade   Rank.jack     10
50    Queen of Spades    Suit.spade  Rank.queen     10
51     King of Spades    Suit.spade   Rank.king     10

In [230]:
df.describe()

           score
count  52.000000
mean    6.538462
std     3.183669
min     1.000000
25%     4.000000
50%     7.000000
75%    10.000000
max    10.000000

In [233]:
df.groupby(['suit', 'rank']).first()

                                      card  score
suit         rank
Suit.heart   Rank.ace        Ace of Hearts      1
             Rank.two        Two of Hearts      2
             Rank.three    Three of Hearts      3
             Rank.four      Four of Hearts      4
             Rank.five      Five of Hearts      5
             Rank.six        Six of Hearts      6
             Rank.seven    Seven of Hearts      7
             Rank.eight    Eight of Hearts      8
             Rank.nine      Nine of Hearts      9
             Rank.ten        Ten of Hearts     10
             Rank.jack      Jack of Hearts     10
             Rank.queen    Queen of Hearts     10
             Rank.king      King of Hearts     10
Suit.diamond Rank.ace      Ace of Diamonds      1
             Rank.two      Two of Diamonds      2
             Rank.three  Three of Diamonds      3
             Rank.four    Four of Diamonds      4
             Rank.five    Five of Diamonds      5
             Rank.six      Six of Diamonds      6
             Rank.seven  Seven of Diamonds      7
             Rank.eight  Eight of Diamonds      8
             Rank.nine    Nine of Diamonds      9
             Rank.ten      Ten of Diamonds     10
             Rank.jack    Jack of Diamonds     10
             Rank.queen  Queen of Diamonds     10
             Rank.king    King of Diamonds     10
Suit.club    Rank.ace         Ace of Clubs      1
             Rank.two         Two of Clubs      2
             Rank.three     Three of Clubs      3
             Rank.four       Four of Clubs      4
             Rank.five       Five of Clubs      5
             Rank.six         Six of Clubs      6
             Rank.seven     Seven of Clubs      7
             Rank.eight     Eight of Clubs      8
             Rank.nine       Nine of Clubs      9
             Rank.ten         Ten of Clubs     10
             Rank.jack       Jack of Clubs     10
             Rank.queen     Queen of Clubs     10
             Rank.king       King of Clubs     10
Suit.spade   Rank.ace        Ace of Spades      1
             Rank.two        Two of Spades      2
             Rank.three    Three of Spades      3
             Rank.four      Four of Spades      4
             Rank.five      Five of Spades      5
             Rank.six        Six of Spades      6
             Rank.seven    Seven of Spades      7
             Rank.eight    Eight of Spades      8
             Rank.nine      Nine of Spades      9
             Rank.ten        Ten of Spades     10
             Rank.jack      Jack of Spades     10
             Rank.queen    Queen of Spades     10
             Rank.king      King of Spades     10