In [15]:
from enum import Enum

In [100]:
class Rank(Enum):
    ace = 1
    two = 2
    three = 3
    four = 4
    five = 5
    six = 6
    seven = 7
    eight = 8
    nine = 9
    ten = 10
    jack = 11
    queen = 12
    king = 13
    
    @property
    def score(self):
        if (self.value <= 10):
            return self.value
        else:
            return 10

In [84]:
Suit = Enum("Suit", "heart diamond club spade")

In [93]:
class Card(object):
    def __init__(self, rank, suit):
        self.rank = rank
        self.suit = suit
        
    def __str__(self):
        return "{} of {}s".format(self.rank.name, self.suit.name)
    def __repr__(self):
        return "{} of {}s".format(self.rank.name, self.suit.name)
    
    def __value__(self):
        return self.rank.score()

In [103]:
class Deck(object):
    def __init__(self):
        self.cards = []
        for suit in Suit:
            for rank in Rank:
                card = Card(rank, suit)
                self.cards.append(card)

In [113]:
print(Deck().cards)

[ace of hearts, two of hearts, three of hearts, four of hearts, five of hearts, six of hearts, seven of hearts, eight of hearts, nine of hearts, ten of hearts, jack of hearts, queen of hearts, king of hearts, ace of diamonds, two of diamonds, three of diamonds, four of diamonds, five of diamonds, six of diamonds, seven of diamonds, eight of diamonds, nine of diamonds, ten of diamonds, jack of diamonds, queen of diamonds, king of diamonds, ace of clubs, two of clubs, three of clubs, four of clubs, five of clubs, six of clubs, seven of clubs, eight of clubs, nine of clubs, ten of clubs, jack of clubs, queen of clubs, king of clubs, ace of spades, two of spades, three of spades, four of spades, five of spades, six of spades, seven of spades, eight of spades, nine of spades, ten of spades, jack of spades, queen of spades, king of spades]

In [106]:
import pandas as pd

In [124]:
pd.DataFrame({ "Rank" : pd.Categorical(list(Rank)) })

          Rank
0     Rank.ace
1     Rank.two
2   Rank.three
3    Rank.four
4    Rank.five
5     Rank.six
6   Rank.seven
7   Rank.eight
8    Rank.nine
9     Rank.ten
10   Rank.jack
11  Rank.queen
12   Rank.king

In [125]:
pd.DataFrame({ "Suit" : pd.Categorical(list(Suit)) })

           Suit
0    Suit.heart
1  Suit.diamond
2     Suit.club
3    Suit.spade